// Imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// Fonts
@font-face {
  font-family: FontAwesome4;
  src: url('/assets/font/FontAwesome4.woff');
}

@font-face {
  font-family: FontAwesome6;
  src: url('/assets/font/FontAwesome6.woff');
}

// CSS Reset and General Styles
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

// Styles
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, #1a1a1a, #3B3B3B, #1A1A1A, #3B3B3B);
  background-size: 12000% 800%;
  animation: background-color-animation 60s linear infinite;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      .photo {
        border-radius: 30%;
        box-shadow: 0 5px 50px 0 rgba(200, 200, 200, .6);
      }
    }

    .photo {
      max-width: 150px;
      border-radius: 15%;
      box-shadow: 0 5px 50px 0 rgba(200, 200, 200, .3);
      transition: all .5s ease;
    }

    .name {
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      color: #fefefe;
    }

    .job-info {
      display: flex;
      flex-direction: row;

      .position, .company {
        margin: 0 2px;
        color: #fefefe;
        text-decoration: none;
      }
    }

    .links {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 0;
      top: calc(50% - 24px * 4);

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
        text-decoration: none;
        font: normal normal normal 24px/1 FontAwesome6;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #ffffff;
        transition: all 0.3s ease;

        &.fa4{
          font: normal normal normal 24px/1 FontAwesome4!important;
        }

        &:hover{
          transform: scale(1.15);
          color: #ccc;
        }

        &.github:before {
          content: "\f09b";
        }

        &.twitter:before {
          content: "\f099";
        }

        &.linkedin:before {
          content: "\f0e1";
        }

        &.email:before {
          content: "\f0e0";
        }

        &.ethereum:before {
          content: "\f42e";
        }
      }
    }

  }
}

// Animations
@keyframes background-color-animation {
  0%, 100% {
    background-position: 0 0
  }
  50% {
    background-position: 93% 100%
  }
}